@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

@layer components {
  .button {
    @apply py-3 px-6 rounded-[30px] font-medium md:text-lg border-[1.5px];
  }

  .blue-button {
    @apply text-white border transition-smooth bg-bright-violet;
  }

  .section-top {
    @apply flex-col gap-4 text-center;
  }

  .section-heading {
    @apply md:text-4xl text-3xl leading-[48px] text-center font-semibold text-navy;
  }

  .section-paragraph {
    @apply text-lg font-normal text-center text-blue-gray;
  }

  .feature-card-container {
    @apply flex-center gap-9 flex-col md:flex-row max-w-[796px];
  }

  .card {
    @apply flex flex-col items-start w-full bg-ice-white rounded-[30px];
  }

  .card-text-container {
    @apply flex flex-col items-start w-full gap-2;
  }

  .card-heading {
    @apply text-lg font-semibold text-charcoal-purple;
  }

  .card-paragraph {
    @apply w-full font-normal text-blue-gray;
  }

  .active-card {
    @apply border-bright-violet transition-smooth;

    & button {
      @apply text-white blue-button transition-smooth;
    }
  }

  .footer-nav {
    @apply flex flex-col w-full gap-5;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-500 ease-in-out;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .fixed-header {
    @apply fixed top-0 left-0 z-50 w-full;
    transition: transform 0.8s ease-in-out;
  }

  .section-flex {
    @apply flex-col py-24 flex-center gap-14 md:gap-16;
  }

  /* list item hover */
  .hover-underline {
    @apply hover:text-midnight-charcoal relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:top-8 after:h-[2px] after:transition-smooth hover:after:w-full;
  }

  /* button hover */
  .button-hover-white {
    @apply hover:bg-white hover:text-midnight-charcoal border-bright-violet;
  }

  .button-hover-blue {
    @apply hover:bg-bright-violet hover:text-white;
  }

  .button-bg-grey {
    @apply bg-[#F2F2F2];
  }

  /* menu toggle */
  .toggle-menu {
    & span:first-child {
      @apply origin-bottom rotate-45 translate-y-2;
    }

    & span:nth-child(2) {
      @apply opacity-0;
    }

    & span:last-child {
      @apply origin-top -rotate-45 -translate-y-2 w-7;
    }
  }

  /* open mobile menu */
  .open-menu {
    @apply absolute top-0 z-50 flex flex-col items-start justify-start w-full min-h-screen p-12 bg-white text-midnight-charcoal right-1 animate-bounce-up;
  }

  .show-btns {
    @apply absolute z-50 flex items-start w-full landscape:top-[300px] top-[330px] flex-row left-[42px] animate-bounce-up;

    & button:first-child {
      @apply pl-0 hover:bg-transparent text-midnight-charcoal hover:underline;
    }
  }

  /* hide header */
  .header-hidden {
    @apply -translate-y-full;
  }

  /* trusted clients animation */
  .scrollbar-hide {
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  [data-animated="true"] {
    @apply overflow-x-auto scrollbar-hide;
  }

  [data-animated="true"] #scroll-content {
    @apply flex-nowrap animate-scroll-x w-max;
  }

  [data-animated="true"] #scroll-content:hover {
    animation-play-state: paused;
  }

  /* pricing */
  [data-checked="good"] {
    @apply font-medium text-charcoal-purple;
  }

  [data-checked="cancel"] {
    @apply text-[#828B9C] font-medium;
  }

  /* faq */
  .active-accordion {
    @apply transition-smooth;

    & div:first-child {
      @apply pb-6 border-b border-b-charcoal-purple transition-smooth;

      & img {
        @apply rotate-180 transition-smooth;
      }
    }

    & div:last-child {
      @apply mt-6;

      & p {
        @apply h-full opacity-100 transition-smooth;
      }
    }
  }

  /* cta */
  .custom-gradient {
    background: linear-gradient(0deg, #0b091c, #0b091c), linear-gradient(0deg, rgba(11, 9, 28, 0) 0%, rgba(102, 47, 255, 0.18) 100%), linear-gradient(174.1deg, rgba(11, 9, 28, 0) 56.76%, rgba(21, 94, 239, 0.04) 82.71%);
  }

  .stars {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0.3px, transparent 0.5px), radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 1px), radial-gradient(circle, rgba(255, 255, 255, 0.1) 1.5px, transparent 1.5px);
    background-size: 50px 50px, 120px 120px, 70px 70px;
    background-position: 0 0, 30px 30px, 15px 15px;
  }
}
