@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@layer components {
  .button {
    @apply py-3 px-6 rounded-[30px] font-medium text-lg;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-500 ease-in-out;
  }

  /* list item hover */
  .hover-underline {
    @apply hover:text-midnight-charcoal relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:top-8 after:h-[2px] after:transition-smooth hover:after:w-full;
  }

  /* button toggle */
  .button-hover-white {
    @apply hover:bg-white hover:text-midnight-charcoal border-bright-violet;
  }

  .button-hover-blue {
    @apply hover:bg-bright-violet hover:text-white;
  }

  /* menu toggle */
  .toggle-menu {
    & span:first-child {
      @apply origin-bottom rotate-45 translate-y-2;
    }

    & span:nth-child(2) {
      @apply opacity-0;
    }

    & span:last-child {
      @apply origin-top -rotate-45 -translate-y-2 w-7;
    }
  }
}
